.list-group {
    border-radius: 20px;
    box-shadow: inset;
    /* background-color: rgb(203, 126, 10); */

    /* background-color: aqua; */
}


.label1 {
    background-color: antiquewhite;
}


.list-group-item {
    background-color: rgba(236, 234, 234, 0.944);
    border-color: rgba(255, 255, 255, 0.944);
}



.profile-pic2 {
    width: 200px;
    /* border-radius: 100px; */
    color: aqua;
}


.profile-pic2 img {
    border-radius: 100px;
    width: 100px;
    height: 100px;
}

.profil-info {
    color: blueviolet;
}
